<% provide(:title, 'Группы') %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <%= render 'shared/menu' %>
    </div>
    <div class="span10">
      <h3>Группы</h3>
      <div>
        <table class="table table-hover">
          <thead><tr>
            <th>Группа</th>
            <th></th>
          </tr></thead>
          <tbody>
          <% for group in @groups %>
              <tr>
                <td><%= link_to group.name, group %></td>
                <td>
                  <% if admin?(current_user) && group.builtin == 0 %>
                    <%= link_to 'Редактировать', edit_group_path(group) %>
                    <%= link_to "Удалить", group, method: :delete, data: { confirm: "Вы уверены, что хотите удалить #{group.name}?" } %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <p> <%= button_to "Новая группа", new_group_path, method: :get, class: "btn btn-large" %></p>
    </div>
  </div>
</div>