<%= form_for (@user) do |f| %>
    <%= render 'shared/user_fields', f: f %>

    <div>Роль<br />
      <%= f.collection_select(:role_id, Role.all, :id, :name) %></div>

    <div>Группа<br />
      <%= f.collection_select(:group_id, Group.all, :id, :name) %></div>

    <div>Подчинен менеджеру<br />
      <%= f.collection_select(:manager_id, User.where('role_id = 3'), :id, :fio, include_blank: true) %></div>

    <% if manager?(current_user) || admin?(current_user) %>
      <div><label class="checkbox">
        <%= f.check_box :visible_for_bux %> Доступен бухгалтеру<br />
      </label></div>
    <% end %>

    <div><%= f.submit "Сохранить", class: "btn btn-large btn-primary" %></div>
<% end %>