<% provide(:title, 'Все пользователи') %>

<h3>Пользователи</h3>
<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>
<div>
  <table class="table table-hover">
    <thead><tr>
      <th>ФИО</th>
      <th>Email</th>
      <th>Дата рождения</th>
      <th>Роль</th>
      <th>Группа</th>
      <th>Подчинен менеджеру</th>
      <th>Доступен бухгалтеру</th>
    </tr></thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.fio, user %></td>
          <td><%= user.email %></td>
          <td><%= user.dr.strftime("%d.%m.%Y") %></td>
          <td><%= user.role.name if !user.role.nil? %></td>
          <td><%= user.group.name if !user.group.nil? %></td>
          <td><%= user.manager.fio if !user.manager.nil? %></td>
          <td><%= "Да" if user.visible_for_bux %></td>
          <td><% if admin?(current_user) || manager?(current_user) %>
                <%= link_to 'Редактировать', edit_user_path(user) %>
              <% end %>
              <% if admin?(current_user) && !current_user?(user) %>
                &nbsp;|&nbsp;
                <%= link_to "Удалить", user, method: :delete, data: { confirm: "Вы уверены, что хотите удалить пользователя #{user.fio}?" } %>
              <% end %></td>

        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>