<% provide(:title, 'Все пользователи') %>
<h1>Все пользователи</h1>

<%= will_paginate %>

<div>
  <table class="list">
    <thead><tr>
      <th>ФИО</th>
      <th>Email</th>
      <th>Роль</th>
      <th>Дата рождения</th>
    </tr></thead>
    <tbody>
    <% for user in @users %>
        <tr>
          <td><%= link_to user.fio, user %></td>
          <td><%= user.email %></td>
          <td><%= user.role.name if !user.role.nil? %></td>
          <td><%= user.dr.to_s(:dr) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate %>
