<% provide(:title, @user.fio) %>
<div>
  <h1>
    <%= @user.fio %>
  </h1>
  <p>Email: <%= @user.email %></p>
  <p>Дата рождения: <%= @user.dr.to_s(:dr) %></p>
  <p>Роль: <%= @user.role.name if !@user.role.nil? %></p>
  <p>Группа: <%= @user.group.name if !@user.group.nil? %></p>
</div>