<% provide(:title, 'Файлы') %>

<h3>Мои файлы</h3>

<div class="pagination">
  <%= will_paginate %>
</div>

<div>
  <table class="table table-hover">
    <thead><tr>
      <th>Файл</th>
      <th>Загружен</th>
      <th>Кем загружен</th>
    </tr></thead>
    <tbody id="uploaded_files">
        <div>
          <%= render @uploaded_files %>
        </div>
    </tbody>
  </table>
</div>

<div class="pagination">
  <%= will_paginate %>
</div>

<%= form_for UploadedFile.new do |f| %>
  <%= f.label :mydoc, "Загрузить файлы:" %>
  <span class="btn btn-success fileinput-button">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Файлы&hellip; </span>
    <%= f.file_field :mydoc, name: "uploaded_file[mydoc]", multiple: true %>
  </span>
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>