<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link href="/styles/bootstrap.min_cerulian.css?body=1" class="switch" media="all" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="row-fluid">
        <% if user_signed_in? && admin?(current_user)%>
          <div class="span2">
            <%= render 'shared/menu' %>
          </div>
          <div class="span10">
        <% else %>
          <div class="container">
        <% end %>

        <% flash.each do |type, message| %>
          <div class="alert <%= bootstrap_class_for(type) %> fade in">
            <button class="close" data-dismiss="alert">×</button>
            <%= message %>
          </div>
        <% end %>

        <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
